body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.addButton{
  margin: 0 auto !important;
  width: 25% !important;
}
.centralize{
  justify-content: center !important;
  display: flex !important;
}
.No-Break{
  display: inline-block;
  white-space:nowrap;
}
.preview{
  width: 100% !important;
  overflow: hidden;
}
.previewContainer{
  margin-bottom: 15px;
}
.rightFloated{
  text-align: right !important;
}

.workoutsContainer{
  margin:0 auto !important;
  border:none !important;
  box-shadow: 0px 0px 0px 0px !important;
  max-width: 80% !important;
}

.ui.items > .item > .image:not(.ui) {
  width: auto !important;
}
@media only screen and (max-width: 768px) {
  .addButton{
    margin: 0 auto !important;
    width: 95% !important;
  }
  .No-Break{
    display: inline;
    white-space:unset;
  }
  .icon{
    font-size: 2.5em !important;
  }
  .customSmallButton{
    font-size: 1em !important;
  }
  .ui.small.images .image, .ui.small.images img, .ui.small.images svg, .ui.small.image{
    width: 120px;
  }
  .ui.items:not(.unstackable) > .item > .image, .ui.items:not(.unstackable) > .item > .image > img
  {
    max-height: 100% !important;
  }
  .previewContainer{
    text-align: center !important;
  }
  .search{
    width: 1em !important;
  }
  .searchIcon{
    font-size: 1.5em !important;
  }
}

@media only screen and (min-width: 769px){
  .workoutsContainer{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
  }
  .previewContainer{
    width: 30%;
  }
}